/* Scope a tu app (ya tienes class="appRoot" en el SemanticPage) */

/* 1) Quita el azul del Title/Header del DynamicPage */
.appRoot .sapFDynamicPageTitleWrapper,
.appRoot .sapFDynamicPageTitle,
.appRoot .sapFDynamicPageHeader,
.appRoot .sapFDynamicPageHeaderWithContent {
  background: #fff !important;
  background-color: #fff !important;
  box-shadow: none !important;
  border-bottom: none !important;
}

/* 2) Quita el “plomito/azul” que se ve entre tabs y tabla (content area) 
.appRoot .sapFDynamicPageContent,
.appRoot .sapFDynamicPageContentFitContainer,
.appRoot .sapFDynamicPageContentFitContainerFooterVisible.sapFDynamicPageContentFitContainer {
  background: #fff !important;
  background-color: #fff !important;
}*/

/* 3) IconTabBar: header y contenedor */
.appRoot .sapMITH,
.appRoot .sapMITHWrapper,
.appRoot .sapMITHContent,
.appRoot .sapMITB,
.appRoot .sapMITBHead,
.appRoot .sapMITBContent,
.appRoot .sapMITBContainerContent {
  background: #fff !important;
  background-color: #fff !important;
}

/* 4) Opcional: si el cuerpo aún “transparenta” el shell */
.appRoot,
.appRoot .sapFSemanticPage,
.appRoot .sapFSemanticPageContent,
.appRoot .sapFSemanticPageMainContent {
  background: #fff !important;
  background-color: #fff !important;
}

 .tab90Height {
  width: 100% !important;
  height: 95% ;
  margin-top: 1rem;
  padding-bottom: 3rem;

} 

/* Evita que la GridTable se "pegue" al borde y ayuda a no perder el scroll */
.myTable95 {
  margin: 0 auto;
}
/* Solo para EstadoTol cuando el ValueState sea Warning (0) */
.estadoTolStatus.sapMObjStatusWarning .sapMObjStatusIcon,
.estadoTolStatus.sapMObjStatusWarning .sapMObjStatusText {
  color: #F7D100 !important; /* amarillo */
}